#menu {
    position: fixed;
    left:-110px;
    top:50px;
    width:100px;
    padding:5px;
    background-color: chocolate;
    transition: 1s;
}

.button {
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;


}

#makeBG, #reset, #hideApp, #showApp {
    width:100%;
}

#open, #close {
    position: absolute;
    width: 50px;
    right:-50px;
}

#open {
    top:0px;
}

#close {
    bottom:0px;
}